sai
*.o
*.d
*.gz
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
leelaz-model*
*.orig
sai_opencl_tuning
/build-autogtp-*
/build-validation-*
.vs/
build/

*~
train_*
__pycache__/
